(
    pipeline: [
        (
            description: "Setup environment",
            type: "wasm",
            uri: "core://env",
            cmd: (name: "set", args: {"dockerhub": "https://registry.hub.docker.com"}),
        ),

        (description: "Run checks, unit tests and integration tests", list: [
            (id: "composer-install", args: {"env": "dev"}),
            (mode: "parallel", list: [
                (cmd: (name: "composer", args: "test:unit"), type: "oci", repo: "{{env.dockerhub}}", image: "composer"),
                (cmd: (name: "composer", args: "test:integration"), type: "oci", repo: "{{env.dockerhub}}", image: "composer"),
                (cmd: (name: "composer", args: "check:style"), type: "oci", repo: "{{env.dockerhub}}", image: "composer"),
                (cmd: (name: "composer", args: "check:mess"), type: "oci", repo: "{{env.dockerhub}}", image: "composer"),
            ]),
        ]),

        (description: "Build docker images", list: [
            (mode: "parallel", list: [
                (
                    cmd: (name: "set_local", args: {"tag": "{{env.docker_repo}}:{{env.service_name}}/{{env.build_number}}"}),
                    type: "wasm",
                    uri: "core://env"
                ),
                (id: "composer-install", args: {"env": "no-dev"}),
            ]),
            (mode: "parallel", list: [
                (id: "build-image", args: {"image": "Dockerfile.fpm", "tag": "{{env.tag}}/fpm"}),
                (id: "build-image", args: {"image": "Dockerfile.nginx", "tag": "{{env.tag}}/nginx"}),
            ]),
        ]),

        (description: "Run system and integration tests", list: [
            (id: "composer-install", args: {"env": "dev"}),
            [
                (id: "composer-install", args: {"env": "dev"}),
                (cmd: (name: "composer", args: "test:system"), type: "oci", repo: "{{env.dockerhub}}", image: "composer"),
                (cmd: (name: "composer", args: "test:e2e"), type: "oci", repo: "{{env.dockerhub}}", image: "composer"),
            ],
        ]),

        (description: "Collect test results", run_on: ["error", "success", "abort"], mode: "parallel", list: [
            (cmd: (name: "publish", args: {"input": "test/report/php/report.xml", "type": "junit"}), type: "wasm", uri: "core://report"),
            (cmd: (name: "publish", args: {"input": "test/report/php/clover.xml", "type": "clover"}), type: "wasm", uri: "core://report"),
        ]),
    ],

    units: {
        "build-image": (type: "oci", repo: "{{env.dockerhub}}", image: "docker", cmd: [
            (name: "build", args: {"-f": "{{args.image}}", "-t": "{{args.tag}}"}),
            (name: "push", args: "{{args.tag}}"),
        ]),
        "composer-install": (
            description: "Install packages --{{args.env}}",
            list: [(cmd: (name: "composer", args: ["install", "--{{args.env}}"]), type: "oci", repo: "{{env.dockerhub}}", image: "composer")],
        ),
    },
)
